<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cantech.cannect">
    <!-- need to add bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- need to add user manual -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <permission
        android:name="android.permission.BLUETOOTH"
        android:label="BLUETOOTH" />
    <permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CarBrand"
            android:parentActivityName=".Settings" />
        <activity
            android:name=".Contact"
            android:parentActivityName=".Settings" />
        <activity
            android:name=".Help"
            android:parentActivityName=".Settings" />
        <activity
            android:name=".About"
            android:parentActivityName=".Settings" />
        <activity
            android:name=".Preferences"
            android:parentActivityName=".Settings" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDyylvznCT58-xZeyrUUQ14NSGjwjPeQLk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".FrictionCircle"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Dashboard_gauge"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Dashboard_chart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Connect"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Map"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Dashboard"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Diagnostics"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cantech.cannect.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>